<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fluxpay.core.mapper.ApiKeyMapper">

    <resultMap id="BaseResultMap" type="com.fluxpay.core.entity.ApiKey">
            <id property="id" column="id" />
            <result property="tenantId" column="tenant_id" />
            <result property="memberId" column="member_id" />
            <result property="keyValue" column="key_value" />
            <result property="name" column="name" />
            <result property="status" column="status" />
            <result property="expiresAt" column="expires_at" />
            <result property="lastUsedTime" column="last_used_time" />
            <result property="callCount" column="call_count" />
            <result property="createdTime" column="created_time" />
            <result property="createdBy" column="created_by" />
            <result property="updatedTime" column="updated_time" />
            <result property="updatedBy" column="updated_by" />
            <result property="isDeleted" column="is_deleted" />
    </resultMap>

    <sql id="Base_Column_List">
        id,tenant_id,member_id,key_value,name,status,
        expires_at,last_used_time,call_count,created_time,created_by,
        updated_time,updated_by,is_deleted
    </sql>
</mapper>
