<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fluxpay.core.mapper.PlanApiMapper">

    <resultMap id="BaseResultMap" type="com.fluxpay.core.entity.PlanApi">
            <id property="id" column="id" />
            <result property="planId" column="plan_id" />
            <result property="apiId" column="api_id" />
            <result property="createdTime" column="created_time" />
            <result property="createdBy" column="created_by" />
            <result property="updatedTime" column="updated_time" />
            <result property="updatedBy" column="updated_by" />
            <result property="isDeleted" column="is_deleted" />
    </resultMap>

    <sql id="Base_Column_List">
        id,plan_id,api_id,created_time,created_by,updated_time,
        updated_by,is_deleted
    </sql>
</mapper>
